* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hero-section {
  width: 100%;
  height: 40rem;;
  background-image: url("./assets/backgroundImage.webp");
  background-size: cover;
  background-position:center;
  background-repeat: no-repeat;
  padding: 2rem 6rem;
  display: flex;
  gap: 5px;
  

}

.matches {
  display: flex;
  gap: 2rem;
}

.right-section{
  width: 200px;
  height: 500px;
  background-color: rgba(90, 91, 37, 50%);
}