.match-container {
    width: 400px;
    height: 170px;
    background-color: rgb(255, 255, 255, 0.5);
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
}
.match-container:hover {
    transform: scale(1.08);
    -webkit-transform: scale(1.08);
    -moz-transform: scale(1.08);
    -ms-transform: scale(1.08);
    -o-transform: scale(1.08);
    cursor: pointer;
}
.match-logo {
    width: 150px;
    aspect-ratio: 1;

}

.logo {
    height: 100%;
    width: 100%;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.text {
    font-size: 1rem;
    color: black;
    font-weight: 400;
}

.heading1 {
    width: 7rem;
    height: 1.6rem;
    background-color: rgb(247, 98, 98);
    border-radius: 0.5rem;
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    -ms-border-radius: 0.5rem;
    -o-border-radius: 0.5rem;
    padding-left: 0.5rem;
    color:white;
    place-content: center;
    margin-bottom: 0.5rem;
}

.heading2 {
    font-size: 1.2rem;
    font-weight: 600;
}

.match-information {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-right: 60px;
}