.logoText {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    color: #f59e0b;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    margin-left: 10px;
  }
  
  /* Default nav link styles */
  .navLink {
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    transition: all 0.5s ease;
    background-image: linear-gradient(90deg, #f59e0b, #f97316);
    background-size: 100% 200%;
    background-position: 0% 0%;
    -webkit-background-clip: text;
    color: white;
    font-weight: 700;
  }
  
  .navLink:after {
    content: '🏏';
    font-size: 1.5rem;
    position: absolute;
    right: -35px;
    top: 0;
    opacity: 0;
    transition: all 0.5s ease;
  }
  
  .navLink:hover:after {
    opacity: 1;
    right: -45px;
  }
  
  .navLink:hover {
    background-position: 0% 100%;
    transform: scale(1.05);
    color: #f59e0b;
    text-shadow: 2px 2px 5px rgba(245, 158, 11, 0.5);
  }
  
  .navLink:before {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f59e0b;
    visibility: hidden;
    transition: all 0.5s ease-in-out;
  }
  
  .navLink:hover:before {
    visibility: visible;
    width:100%;}
  
    .navbarContainer {
        display: flex; /* Enable flexbox layout */
        flex-direction: row;
        justify-content: space-between; /* Space items between */
        align-items: center; /* Center items vertically */
        width: 100%; /* Full width */
        padding: 0 20px; /* Optional padding */
      }
