.scrolling-Header {
    height: 2rem;
    width: 100%;
    /* background-color: #1C1C1C; */
    /* background-image: url('../assets//cricket pitch.jpeg'); /* Path if the image is in the public folder */
    /* background-size: cover;   
    background-repeat: no-repeat;
    background-position: center; */ 
    background-color: #D2122E; 
    color: #ffbfbf;
    overflow: hidden;
    white-space: nowrap;
    place-content: center;
    padding:0 10px;
}

.scrolling-Text {
    font-size: 1rem;
    font-weight: 700;
    animation: scroll-left 10s linear infinite;
    -webkit-animation: scroll-left 10s linear infinite;
}
.items-container {
    height: 100%;
    width:auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.cricket-ball {
    width: 3rem;          /* Set width as per your needs */
    height: auto;          /* Maintain the aspect ratio */
    object-fit: contain; 
}

.text {
    margin: 0 1rem;
    font-family: 'Roboto', sans-serif;
}
@keyframes scroll-left {
    from {
      transform: translateX(70%);
      -webkit-transform: translateX(70%);
      -moz-transform: translateX(70%);
      -ms-transform: translateX(70%);
      -o-transform: translateX(70%);
}
    to {
      transform: translateX(-70%);
      -webkit-transform: translateX(-70%);
      -moz-transform: translateX(-70%);
      -ms-transform: translateX(-70%);
      -o-transform: translateX(-70%);
}
  }